<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>283369493932-gn2cljdjo61d2dvf1ilh31qiu0t8gm18.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.283369493932-gn2cljdjo61d2dvf1ilh31qiu0t8gm18</string>
	<key>API_KEY</key>
	<string>AIzaSyDi1ud0dXFR0k-Gigfxnpwtyek1tiVdiKw</string>
	<key>GCM_SENDER_ID</key>
	<string>283369493932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mrkim</string>
	<key>PROJECT_ID</key>
	<string>mrkim-2215d</string>
	<key>STORAGE_BUCKET</key>
	<string>mrkim-2215d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:283369493932:ios:7b89ff359d1704f0109609</string>
</dict>
</plist>